<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
  </head>
  <body>
    <%- include('../../../partial/Navbar/Paslon.ejs') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Tambah Paslon Baru</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-md-7">
          <div class="card">
            <div class="card-body">
              <form
                action="/admin/paslon/tambah"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <label for="Ketua">Nama Ketua</label>
                  <input
                    type="input"
                    class="form-control"
                    name="nameKetua"
                    id="Ketua"
                    placeholder="Masukan Nama Ketua"
                  />
                </div>
                <div class="form-group">
                  <label for="Ketua">Nama Wakil Ketua</label>
                  <input
                    type="input"
                    class="form-control"
                    id="Ketua"
                    name="nameWaketu"
                    placeholder="Masukan Nama Ketua"
                  />
                </div>
                <div class="form-group">
                  <label for="gambarPaslon">Gambar Paslon</label>
                  <div class="custom-file">
                    <input
                      type="file"
                      class="custom-file-input"
                      id="gambarPaslon"
                      name="gambarPaslon"
                      accept="image/*"
                    />
                    <label class="custom-file-label" for="gambarPaslon"
                      >Pilih gambar</label
                    >
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Tambah Paslon
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../../partial/BSreqValid.ejs') %>
    <script src="/js/admin/paslon/add.js"></script>
  </body>
</html>
