<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
  </head>
  <body>
    <%- include('../../../partial/Navbar/Paslon.ejs') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Daftar Paslon</h1>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <a href="/admin/paslon/tambah" class="btn btn-primary mb-2"
            >Tambah Paslon Baru</a
          >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama Paslon</th>
                <th scope="col">Gambar</th>
                <th scope="col">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% if(data.length < 1) { %>
              <tr class="text-center">
                <td rowspan="2" colspan="2">Tidak ada data paslon</td>
                <td rowspan="2" colspan="2">
                  Silahkan tambah dengan tombol diatas
                </td>
              </tr>
              <% } %>
              <!-- <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../../../partial/BSreq.ejs') %>
  </body>
</html>
