<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
  </head>
  <body>
    <%- include('../../../partial/Navbar/Paslon.ejs') %>
    <div class="container mt-3">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Daftar Paslon</h1>
        </div>
      </div>
    </div>

    <%- include('../../../partial/BSreq.ejs') %>
  </body>
</html>
