<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta
  name="description"
  content="Aplikasi web voting NVA 13 untuk pemilihan pemimpin baru"
/>

<link rel="apple-touch-icon" href="logo192.png" />
<link rel="manifest" href="manifest.json" />

<link rel="canonical" href="<%= cannonical %>" />

<link rel="stylesheet" href="/bs/css/bootstrap.min.css" />

<title><%= title %></title>
