<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col col-md-6">
          <div class="card">
            <div class="card-body">
              <form method="POST" id="form-daftar">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Masukan email"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="nama">Nama Lengkap</label>
                  <input
                    type="input"
                    class="form-control"
                    id="nama"
                    name="username"
                    placeholder="Masukan nama lengkap"
                    required
                  />
                </div>
                <div class="form-row">
                  <div class="col">
                    <label for="password">Kata Sandi</label>
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Masukan kata sandi"
                      required
                    />
                  </div>
                  <div class="col">
                    <label for="passwordconf">Konfirmasi Kata Sandi</label>
                    <input
                      type="password"
                      class="form-control"
                      id="passwordconf"
                      name="passwordconf"
                      placeholder="Konfirmasi kata sandi"
                      required
                    />
                  </div>
                </div>
                <hr />
                <button class="btn btn-success btn-block" type="submit">
                  Daftarkan Akun
                </button>
                <a class="btn btn-primary btn-block mt-2" href="/admin/login">
                  Login
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../partial/BSreqValid.ejs') %>
    <script src="/js/admin/daftar.js"></script>
  </body>
</html>
