<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
  </head>
  <body>
    <div class="container"></div>

    <%- include('../../partial/BSreq.ejs') %>
  </body>
</html>
