<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partial/head.ejs', { title : `${title}`, cannonical:
    `${cannonical}` }) %>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center mt-4">
        <div class="col col-md-5">
          <div class="card">
            <div class="card-body">
              <form method="POST">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Masukan email"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Kata Sandi</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Masukan kata sandi"
                  />
                </div>
                <hr />
                <button class="btn btn-primary btn-block" type="submit">
                  Login
                </button>
                <a class="btn btn-success btn-block mt-2" href="/admin/daftar">
                  Daftar Akun
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../../partial/BSreq.ejs') %>
  </body>
</html>
